<h1>Change password</h1>
<br><br><br>
<form method="post">
    Old password : <input type="password" name="oldPassword" id="oldPassword"/> <br><br>
    New password : <input type="password" name="newPassword" id="newPassword"/>
    <br><br>
    <input type="submit" name="submit" value="Change password"/>
</form>
<br><br>
<a href="/profile">Cancel</a>
{{message}}