<h1>Signup</h1>
<br><br><br>
<form method="post">
    Name : <input type="text" name="name" id="name"/> <br><br>
    Email : <input type="email" name="email" id="email"/> <br><br>
    Password : <input type="password" name="password" id="password"/> <br><br>
    Contact : <input type="number" name="contact" id="contact"/> <br><br>
    Gender : <input type="radio" name="gender" id="male" value="male">  Male
                <input type="radio" name="gender" id="female" value="female">  Female
                <input type="radio" name="gender" id="other" value="other">  Other
    <br><br>
    <input type="submit" name="submit" value="Submit"/>
</form>
{{message}}
<br><br>
<a href="/login">Login</a>