<h3>Map the csv header with data feilds</h3>
<p id="{{fileUploaded}}" class="fileUploaded" hidden></p>
<p id="{{fileId}}" class="fileId" hidden></p>
{{#renderTable firstRow secondRow collectionFeildsList}}
    {{this}}
{{/renderTable}}
<br>
<a id="mapBtn" class="btn btn-primary">Add Users</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="mapCancelBtn" class="btn btn-secondary">Cancel</a>
<p id="warningMessage" class="text-primary"></p>

<div id="mapObjTable">

</div>