
<table class="table" id="table">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Total records uploaded </th>
            <th scope="col"> Status </th>
            <th scope="col"> Uploaded At </th>
        </tr>
    </thead>
    <tbody>
        {{#each files}}
            <tr>
                <td>{{name}}</td>
                <td>{{totalUploaded}}</td>
                <td>{{status}}</td>
                <td>{{formatTime createdAt}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<br><br><br>
