<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Ajax task</title>
  </head>
  <body>
      <div class="container">
          <div class="row mt-5">
              <div class="col-6">
                  <form id="form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">First Name <span class="text-danger">*</span></label>
                            <input type="text" name="firstName" class="form-control" id="firstName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name <span class="text-danger">*</span></label>
                            <input type="text" name="lastName" class="form-control" id="lastName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address <span class="text-danger">*</span></label>
                            <textarea name="address" id="address" cols="32" rows="5"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">State <span class="text-danger">*</span> :   </label>
                            <select name="state" id="state" style="width: 60%">
                                <option value="" disabled selected>-- select state --</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="MP">MP</option>
                                <option value="UP">UP</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender <span class="text-danger">*</span> :   </label>
                            <input type="radio" name="gender" id="male" value="male">  Male
                            <input type="radio" name="gender" id="female" value="female">  Female
                            <input type="radio" name="gender" id="other" value="other">  Other
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hobby <span class="text-danger">*</span> :   </label>
                            <input type="checkbox" name="hobby" id="reading" value="reading">  Reading
                            <input type="checkbox" name="hobby" id="coding" value="coding">  Coding
                            <input type="checkbox" name="hobby" id="playing" value="playing">  Playing
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profile Image : </label>
                            <input type="file" name="profile" id="profile">
                        </div>
                        <div class="btns" id="btns">
                            <button type="submit" class="btn btn-primary" id="btnsubmit">Add user</button>
                        </div>
                        <span class="text-danger">*</span> indicates necessary fields
                        <p id="errorMessage" class="text-danger"></p>
                    </form>
              </div>

                <div class="col-xl-6">
                    <div class="searchDiv">
                        <div class="input-group">
                            <div class="form-outline">
                                <input type="search" id="searchText" name="searchText" class="form-control" placeholder="Search"/>
                            </div>&nbsp;&nbsp;&nbsp;
                                <select name="genderSelect" id="genderSelect">
                                    <option value="all" selected>All</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>&nbsp;&nbsp;&nbsp;
                            <button type="button" id="searchBtn" class="btn btn-primary">
                                <i class="fa fa-search">Go</i>
                            </button>
                        </div>
                    </div>
                    <br>    
                    <div class="display-users">

                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary" id="exportBtn">Export to csv</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="btn btn-primary" id="exportEmailBtn">Request an email for csv</a>
                </div>
              </div> 
          </div>
      </div>

    {{!-- bootstrap --}}
    <script src="/javascripts/bootstrap.min.js"></script>

    {{!-- jQuery --}}
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-validate.js"></script>

    {{!-- local javascript file --}}
    <script src="/javascripts/ajax.js"></script>
  </body>
</html>